@model EvidencePojisteniWeb.Models.PojisteniModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PojisteniModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="TypPojisteni" class="control-label"></label>
                <select asp-for="TypPojisteni" class="form-control" asp-items="Html.GetEnumSelectList<TypPojisteni>()"></select>
                <span asp-validation-for="TypPojisteni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredmetPojisteni" class="control-label"></label>
                <input asp-for="PredmetPojisteni" class="form-control" />
                <span asp-validation-for="PredmetPojisteni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Castka" class="control-label"></label>
                <input asp-for="Castka" class="form-control" />
                <span asp-validation-for="Castka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

