@page
@model EvidencePojisteniWeb.Areas.Identity.Pages.Account.RegisterModel
@using EvidencePojisteniWeb.Models.ViewModels

@{
    ViewData["Title"] = "Registrace";

    var bcItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem { Text = "Domů", Controller = "Home", Action = "Index" },
        new BreadcrumbItem { Text = "Registrace", IsActive = true }
    };
}
@await Html.PartialAsync("_Breadcrumb", bcItems)

<div class="container">
    <header class="pb-2 mb-3 border-bottom">
        <h3 class="text-body-emphasis">@ViewData["Title"]</h3>
    </header>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bg-success text-white rounded-3 p-4 my-3">
                <div class="row justify-content-around align-items-baseline">
                    <!-- logo a nadpis -->
                    <div class="col-md-4 text-center mb-4 mb-md-0">
                        <h4>Vytvořit nový účet</h4>
                        <img src="~/images/owl_logo.png" alt="Logo" width="150" height="150" class="img-thumbnail mb-3" />
                    </div>

                    <!-- formulář -->
                    <div class="col-md-6">
                        <form method="post" novalidate>
                            <div class="mb-2">
                                <label asp-for="Input.FirstName" class="form-label"></label>
                                <input asp-for="Input.FirstName" class="form-control"
                                       placeholder="Zadejte své jméno" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label asp-for="Input.LastName" class="form-label"></label>
                                <input asp-for="Input.LastName" class="form-control"
                                       placeholder="Zadejte své příjmení" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control"
                                       placeholder="email@domena.cz" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <input asp-for="Input.Password" type="password" class="form-control"
                                       placeholder="Zvolte heslo" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control"
                                       placeholder="Potvrďte heslo" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-light px-5">
                                    Registrovat
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
